*{
    color:#3C373B;
   }
   
   H1{
    font-family: 'Gaegu', cursive;
       margin: 10px 0;
      
       font-size: 40px;
     }
   h2,  h4, h5, h6 {
     font-family: 'Gaegu', cursive;
     margin-bottom: 0;
     padding: 0 10px;
   
     font-size: 30px;
   }
   h3{
       font-size: 50px;
   }
   
   
   p{
     font-size: 16px;
   font-family: roboto;
   padding: 10px;
   line-height: 1.4;}
   
   .img{
     border-radius: 10px;
     
   }
  
   .content-row div {
     margin:30px;
   
   }
   
   .container {
    
     width:auto;
     margin: 0 auto;
   }
   

  
   header {
    padding: 50px 10px;
    border-bottom: 1px solid black;
    margin: 20px 0;
padding: 20px 0;

  }
  
  header nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: #2A363B;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  } 
   
  
   .about{
    display:flex;
    text-align:center;
    font-size:30px;
   }
  
  
   
  
 
   
   .contact-section {
     border-top: 1px dashed black;
     padding: 20px 0;
   }
   
   .contact-section h2 {
     padding: 0;
     margin: 0 0 10px 0;
   }
   .footer-content{
    text-align:center;  
    padding: 20px 0;
  }